body {
    background-color: rgb(255, 241, 181);
    height: 100%;
    margin: 0;
}

.taust {
    background-image: url('narvalinn.jpg');
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 35px;
}

.videotekst1 {
    font-family: 'Montserrat', sans-serif;
    margin-top: 0px;
    margin-left: 2cm;
    margin-right: 16cm;
    text-align: justify;
}

.videotekst2 {
    font-family: 'Montserrat', sans-serif;
    margin-top: 0px;
    margin-bottom: 7px;
    margin-left: 2cm;
    margin-right: 16cm;
    text-align: justify;
}

.video {
    position: absolute;
    right: 1.5cm;
    top: 880px;
}

.box {
    background-color: rgb(217, 241, 255);
    border: 10px solid rgb(0, 94, 117);
    padding: 20px;
    margin-left: 3cm;
    margin-right: 3cm;
    margin-top: 1cm;
    margin-bottom: 1cm;
}