body {
    background-color: rgb(222, 235, 248);
    height: 100%;
    margin: 0
}

html {
    height: 100%;
    margin: 0;
  }

.taust {
    background-image: url('otepäälinn.jpg');
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 35px;
}

h1 {
    color: rgb(255, 255, 255);
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 50px;
    margin-left: 2cm;
    margin-right: 3.5cm;
}

h2 {
    
    margin-bottom: 7px;
    font-family: 'Montserrat', sans-serif;
    margin-left: 2cm;
    margin-right: 3.5cm;
}

h3 {
    margin-top: 0px;
    font-family: 'Montserrat', sans-serif;
    margin-left: 2cm;
    margin-right: 3.5cm;
}

h4 {
    margin-bottom: 0px;
    margin-top: 0px;
    font-family: 'Montserrat', sans-serif;
    margin-left: 2cm;
    margin-right: 3.5cm;
}

th, td {
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    margin-left: 2cm;
}

ul {
    margin-left: 2cm;
    margin-top: 0px
}

.ul2 {
    margin-left: -25px;
    margin-top: 0px
}

li {
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    margin-right: 0px;
}

p {
    font-family: 'Montserrat', sans-serif;
    margin-top: 0px;
    margin-left: 2cm;
    margin-right: 3.5cm;
}

.p2 {
    font-family: 'Montserrat', sans-serif;
    margin-top: 0px;
    margin-bottom: 7px;
    margin-left: 2cm;
    margin-right: 3.5cm;
}

.videotekst1 {
    font-family: 'Montserrat', sans-serif;
    margin-top: 0px;
    margin-left: 2cm;
    margin-right: 17cm;
    text-align: justify;
}

.videotekst2 {
    font-family: 'Montserrat', sans-serif;
    margin-top: 0px;
    margin-bottom: 7px;
    margin-left: 2cm;
    margin-right: 17cm;
    text-align: justify;
}

table {
    margin-left: 2cm;
    margin-top: 0px
}

.video {
    position: absolute;
    right: 1.5cm;
    top: 750px;
}