body {
    background-color: rgb(222, 235, 248);
    height: 100%;
    margin: 0
}

.taust {
    background-image: url('otepäälinn.jpg');
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 35px;
}

.videotekst1 {
    font-family: 'Montserrat', sans-serif;
    margin-top: 0px;
    margin-left: 2cm;
    margin-right: 17cm;
    text-align: justify;
}

.videotekst2 {
    font-family: 'Montserrat', sans-serif;
    margin-top: 0px;
    margin-bottom: 7px;
    margin-left: 2cm;
    margin-right: 17cm;
    text-align: justify;
}

.video {
    position: absolute;
    right: 1.5cm;
    top: 750px;
}

.box {
    background-color: rgb(231, 250, 212);
    border: 10px solid rgb(117, 145, 82);
    padding: 20px;
    margin-left: 3cm;
    margin-right: 3cm;
    margin-top: 1cm;
    margin-bottom: 1cm;
}