body {
    background-color: rgb(234, 250, 192);
    height: 100%;
    margin: 0;
}

.taust {
    background-image: url("türilinn.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 35px;
} 

.elamuspark {
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
    margin-right: 12cm;
}

.box {
    background-color: rgb(251, 224, 252);
    border: 10px solid rgb(113, 58, 145);
    padding: 20px;
    margin-left: 3cm;
    margin-right: 3cm;
    margin-top: 1cm;
    margin-bottom: 1cm;
}

.video {
    position: absolute;
    right: 2.5cm;
    top: 658px;
}