body {
    background-color: rgb(234, 250, 192);
    height: 100%;
    margin: 0;
}

.taust {
    background-image: url("türilinn.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 35px;
} 

.elamuspark {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    text-align: justify;
    margin-left: 2cm;
    margin-right: 15cm;
}

ul {
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
    font-size: 15px;
 }

.box {
    background-color: rgb(251, 224, 252);
    width: 95%;
    border: 10px solid rgb(113, 58, 145);
    padding: 20px;
    margin: 20px;
}

.video {
    position: absolute;
    right: 1.5cm;
    top: 710px;
}